* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* --- */
.freemath-container {
}

.freemath-canvas {
}

.freemath-path-container {
}

.freemath-note-container {

}

.note {
    position: absolute;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: move;
    transform: translate(-50%, -50%);
}