* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* --- */
.freemath-container {
}

.freemath-canvas {
}

.freemath-path-container {
}

.freemath-note-container {

}

.note {
    position: absolute;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 8px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 6px;
    cursor: move;
    transform: translate(-50%, -50%);
}

.note.focus {
    box-shadow: 0 0 6px #fdfa72, 0 0 6px #fdfa72;
}

/* --- */

@keyframes path-blink {
    0% {
        stroke-width: 4px;
    }
    50% {
        stroke-width: 2px;
    }
    100% {
        stroke-width: 4px;
    }
}

.path {
    cursor: pointer;
}

.path.focus {
    stroke: #e3e166;
    stroke-width: 4px;
/*    animation: path-blink 1s infinite;*/
}

